body{
  background-color: #e6e9ed;
}

.msg-danger{
  position: fixed;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  padding: 40px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(158,0,0,0.9);
}

.msg-alert{
  position: fixed;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  padding: 20px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(210,140,0,0.9);
}

.msg-success{
  position: fixed;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  padding: 20px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(0,115,0,0.9);
}

.title{
  font-family: 'Lobster', cursive;
  color: #FFF;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.40);
  letter-spacing: 1px;
}

header{
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  background-color: #68a7b9;
  overflow: hidden;
  border-top: 4px solid #5c96a7;
  z-index: 99999;
}
header > ul{
  background-color: #5c96a7;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}
header > ul > a > li{
  margin: 0;
  text-align: center;
  padding: 25px 0 !important;
  font-size: 0.6rem;
}
header > ul > a{
  color: #666 !important;
  text-decoration: none !important;
}
header > ul > a:visited{color: #fff !important;}

.search{
  margin: 20px auto;
}
.form-control{
  font-size: 0.8rem;
}

.box-card{
  border-bottom: 3px solid rgba(0,0,0,0.2);
}


.btn-100{
  width: 100% !important;
}

td.link > a, td.link > a:visited, td.link > a:link{
  color: #333 !important;
  text-decoration: none !important;
}

