body{
  background-color: #e6e9ed;
}

.color-light{color: #9499a4 !important;}

.loader{
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: url('../images/loader.gif') center center no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}

.msg-danger{
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 30%;
  padding: 40px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(158,0,0,0.9);
}

.msg-alert{
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 30%;
  padding: 20px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(210,140,0,0.9);
}

.msg-success{
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 30%;
  padding: 20px;
  color: #FFFFFF;
  text-align: 'center';
  background-color: rgba(0,115,0,0.9);
}

.bg-lighter{
  background-color: #f2f2f2;
}

.title{
  font-family: 'Lobster', cursive;
  color: #FFF;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.40);
  letter-spacing: 1px;
}

header{
  margin-bottom: 20px;
  width: 100%;
  background-color: #464c55;
  z-index: 99999;
}
header > div > div > div > div > a{
  font-size: 0.6rem;
  color: white !important;
  text-decoration: none !important;
}
header > div > div > div > div > a:link,
header > div > div > div > div > a:visited,
header > div > div > div > div > a:hover,
header > div > div > div > div > a:active,{
  color: white;
}
.headerTab{
  font-size: 0.7rem;
  width: 100%;
  background-color: #343840;
}
.headerTab > div > div > div > small{
  font-size: 0.6rem;
}

.dataTables_filter input{
  border: 1px solid #d0d3d5;
  border-radius: 0;
}
.form-control{
  font-size: 0.8rem;
}

.box-card{
  border-bottom: 3px solid rgba(0,0,0,0.2);
}


.btn-100{
  width: 100% !important;
}

td.link > a, td.link > a:visited, td.link > a:link{
  color: #333 !important;
  text-decoration: none !important;
}

.card{
  margin-bottom: 60px !important;
}

.footerTabs{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4e545e;
  position: fixed;
  bottom: 0;
}
.footerTabs > ul > li > a{
  color: white;
}
